.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/figures
/outputs
census_api_key("647afc44761c0d33913be07ed76de61a6e79b60d")
register_google(key = "AIzaSyBg3_lMBGVH66g61WDvBcLCIChHr4C6oKU")
key = c("goldgoose24") # key for EPA AQS API
